@import url(http://fonts.googleapis.com/css?family=Oswald:700|Khula);

body{
	font-family: 'Khula', sans-serif;
	background-color: #B77831;
	background-image: url("../img/grande.jpg");
	background-position: center;
	background-repeat: repeat;
}
body > h1, h2, h3, h4{
	font-family: 'Oswald', sans-serif;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.5em;
}
h3{
	font-weight: bold;
}
.col-md-12{
	padding: 0;
}
.container{
	background-color: #fff;
}
.bck-header{
	font-family: 'Oswald', sans-serif;
	height: 100%;
	background-image: url("../img/bgHeaderHTV.jpg");
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
}
.main-menu{
padding-top: 50ps
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
	color: #4c4c4c;
	background-color: rgba(128,130,133,0.5);
}
.col-md-4 > p , h1, h2, h3{
	padding: 10px;
	text-align: justify;
}